[core]
	autocrlf = false
	preloadindex = true
	fscache = true
	editor = code --wait
	excludesfile = /Users/fu-taku/.gitignore_global
[color]
	ui = true
[alias]
	st  = "!f () { ~/gitstatus.bash; };f"
	fp  = fetch -p
	b   = branch -vv
	bd  = branch -d
	bdf = branch -D
	ch  = checkout
	cb  = checkout -b
	cm  = commit --allow-empty
	cp  = cherry-pick --allow-empty
	lo  = log --date=iso --pretty=format:'%Cred%ad%Creset %C(yellow)[%h]%Creset - %s' --abbrev-commit
	dn  = diff --name-status
	ds  = diff --staged
	mn  = merge --no-ff --no-edit
	mt  = mergetool
	lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	unstage = reset HEAD
	detach = branch --unset-upstream
	attach = branch --set-upstream-to
	chst  = "!f () { ~/git-checkout-stash.bash $1 $2; };f"
[user]
	email = gmail.com
	name = panage
[credential]
	helper = osxkeychain
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	compactionHeuristic = true
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
