.bash_history
.bash_sessions/
.CFUserTextEncoding
.dropbox/
.DS_Store
.Trash
.lesshst
.m2
.oracle_jre_usage
.subversion
.wget-hsts
mbox
git
.embedmysql/
.mysql_history
ansible/local-assemble.retry
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
IdeaProjects/
Library/
Movies/
Music/
Pictures/
Public/
docker/
target/
vcs/
